* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #10B981;
  /* Emerald 500 */
  --primary-hover: #059669;
  /* Emerald 600 */
  --primary-light: #ECFDF5;
  /* Emerald 50 */
  --text-main: #1F2937;
  /* Gray 800 */
  --text-secondary: #6B7280;
  /* Gray 500 */
  --bg-app: #F3F4F6;
  /* Gray 100 */
  --bg-white: #FFFFFF;
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}